@import "constants";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

section {
  min-height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.nav--trans {
  background-color: transparent;
  color: white;
  height: 6rem;
  transition: all .5s ease-in-out;

  a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 2px solid white;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 1rem;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start;
  }
}

.nav--col {
  background-color: white;
  color: black;
  height: 4rem;
  transition: all .5s ease-in-out;

  a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 2px solid black;
      transition: all 0.2s ease-in-out;
    }
  }

  h1 {
    color: black;
  }

  .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 0;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start;
  }
}

.nav__left {
  color: white;
}

.nav__right {

  ul {
    align-self: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 2px;
  }

  li {
    display: inline-block;
  }
}

.hero {
  background-image: url(assets/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrap {
  padding-top: 20vh;
  color: $white;
  text-align: center;
}

.hero__main {
  font-size: $font-big;
}

.hero__sub {
  font-size: $font-sub;
}
