/* @media screen and (max-width: 795px) {
}

@media (min-width: 796px) and (max-width: 992px) {
}

@media (min-width: 993px) {
} */
h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem;
  margin: 0; }

p {
  color: #4e4e4e; }

.layout--two-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr; }

.layout--two-columns-auto {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto 1fr;
  -ms-grid-columns: auto 1fr; }

.layout--two-columns-large-small {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -ms-grid-columns: 2fr 1fr; }

.layout--three-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr; }

.layout--four-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr; }

.layout--five-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr; }

.layout--six-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

.layout--two-rows {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr; }

.layout--three-rows {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr; }

.layout--three-rows-fix {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  -ms-grid-rows: 1fr auto 1fr; }

.col--1 {
  grid-column: 1;
  -ms-grid-column: 1; }

.col--2 {
  grid-column: 2;
  -ms-grid-column: 2; }

.col--3 {
  grid-column: 3;
  -ms-grid-column: 3; }

.col--4 {
  grid-column: 4;
  -ms-grid-column: 4; }

.col--5 {
  grid-column: 5;
  -ms-grid-column: 5; }

.col--6 {
  grid-column: 6;
  -ms-grid-column: 6; }

.col--7 {
  grid-column: 7;
  -ms-grid-column: 7; }

.col--8 {
  grid-column: 8;
  -ms-grid-column: 8; }

.row--1 {
  grid-row: 1;
  -ms-grid-row: 1; }

.row--2 {
  grid-row: 2;
  -ms-grid-row: 2; }

.row--3 {
  grid-row: 3;
  -ms-grid-row: 3; }

.row--4 {
  grid-row: 4;
  -ms-grid-row: 4; }

.row--5 {
  grid-row: 5;
  -ms-grid-row: 5; }

.row--6 {
  grid-row: 6;
  -ms-grid-row: 6; }

.row--7 {
  grid-row: 7;
  -ms-grid-row: 7; }

.row--8 {
  grid-row: 8;
  -ms-grid-row: 8; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f8f9fa; }

nav {
  position: fixed;
  width: 100%;
  z-index: 500; }

.nav--trans {
  background-color: transparent;
  color: white;
  height: 6rem;
  transition: all .5s ease-in-out; }
  .nav--trans a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px; }
    .nav--trans a:hover {
      border-bottom: 2px solid white;
      transition: all 0.5s ease-in-out; }
  .nav--trans .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 1rem;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start; }

.nav--col {
  background-color: white;
  color: black;
  height: 4rem;
  transition: all .5s ease-in-out; }
  .nav--col a {
    text-decoration: none;
    color: #0078ff;
    padding-bottom: 2px; }
    .nav--col a:hover {
      border-bottom: 2px solid #0078ff;
      transition: all 0.2s ease-in-out; }
  .nav--col h4 {
    color: #0078ff; }
  .nav--col .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 0;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start; }

.nav__left {
  color: white; }

.nav__right ul {
  align-self: center;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 2px; }

.nav__right li {
  display: inline-block; }

.hero {
  background-attachment: fixed;
  background-image: url(assets/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 100vh; }

.hero__wrap {
  padding-top: 30vh;
  color: #ffffff;
  text-align: center; }

.hero__main {
  font-size: 4.5rem;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem; }

.hero__sub {
  font-size: 2.5rem;
  margin: 0;
  padding: 0; }

.about {
  background-color: #f8f9fa;
  padding-top: 10vh;
  min-height: 100vh; }

.about__card {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.about__left {
  display: grid;
  grid-template-rows: auto auto;
  padding: 35px; }

.about__left--up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto; }

.about__photo {
  height: 10rem;
  width: 10rem;
  background-image: url("assets/head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  grid-column: 1; }

.about__description p {
  font-size: 1 rem;
  margin: 0 0 1rem 0; }

.about__qa {
  margin-top: 10px; }

.about__q {
  display: inline-block;
  color: #1e1e1e; }

.about__a {
  display: inline-block; }

.about__right {
  padding: 35px; }
  .about__right h2 {
    display: inline-block;
    margin: 0 0 10px 0;
    border-bottom: 3px solid #0078ff; }
  .about__right .about__desc {
    font-size: 1.25rem;
    font-weight: 300; }

.about__left--down progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .7rem; }

.about__left--down progress[value]::-webkit-progress-bar {
  background-color: #cde1f8;
  border-radius: 2px; }

.about__left--down progress[value]::-webkit-progress-value {
  background-color: #0078ff;
  border-radius: 2px; }

.about__left--down p {
  margin: 14px 0 10px 0; }

.about__left--down .skills-wrap {
  display: grid;
  grid-template-columns: 1fr auto; }

.services {
  min-height: 100vh; }

.services__header {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase; }

.services__subtitle {
  text-align: center; }

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px; }

.services__show {
  -moz-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  -ms-grid-columns: 1fr 1fr;
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
  width: 80%; }
  .services__show:hover .services__circle {
    background-color: #0078ff;
    border-color: #ddd6d5;
    transition: all 500ms ease; }
  .services__show:hover .services__icon {
    color: #ffffff;
    transition: all 500ms ease; }

.services__circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #0078ff;
  background-color: #ffffff;
  margin-top: 30px; }

.services__icon {
  font-size: 3rem;
  color: #1e1e1e;
  margin-top: 2rem;
  position: relative;
  bottom: 15px; }
  .services__icon i {
    margin-top: 30px; }

.services__title {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; }

.services__description {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 35px; }

.work {
  min-height: 70vh;
  display: block;
  background-attachment: fixed;
  background-image: url(assets/work.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.work__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 80%;
  padding-top: 150px;
  margin: 0 auto; }

.work__stat {
  justify-self: center;
  text-align: center; }

.work__circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
  background-color: transparent; }

.work__icon {
  font-size: 3rem;
  color: #ffffff;
  margin-top: 2rem;
  position: relative;
  bottom: 15px; }
  .work__icon i {
    margin-top: 30px; }

.work__number {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin: 10px; }

.work__number--pop {
  color: red; }

.work__description {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 10px; }

.blog {
  min-height: 50vh; }

.blog__header {
  margin-bottom: 15px;
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase; }

.blog__subtitle {
  text-align: center; }

.blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto; }

.blog__show {
  box-sizing: border-box;
  -moz-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px auto;
  width: 80%; }

.blog__top {
  overflow: hidden;
  box-sizing: border-box;
  height: 10rem;
  width: 100%; }

.blog__pic {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  background-position: center;
  background-size: cover;
  transition: all .5s; }

.blog__pic--1 {
  background-image: url(assets/port_1.jpg); }

.blog__pic--2 {
  background-image: url(assets/port_2.jpg); }

.blog__pic--3 {
  background-image: url(assets/port_3.jpg); }

.blog__top:hover .blog__pic,
.blog__top:focus .blog__pic {
  transform: scale(1.2); }

.blog__text {
  padding: 0 16px 16px 16px; }

.blog__subs {
  font-size: .8rem; }

.blog__more {
  margin: 10px auto 20px auto;
  width: 85%;
  text-align: end; }
  .blog__more a {
    text-decoration: none;
    font-weight: bold; }

.contacts {
  min-height: 100vh; }

.contacts {
  min-height: 70vh;
  display: block;
  background-attachment: fixed;
  background-image: url(assets/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem; }

.contacts__wrapper {
  width: 80%;
  margin: 20px auto;
  background-color: #f8f9fa;
  display: grid;
  padding: 2rem;
  grid-template-columns: [message] 1fr [infos] 1fr;
  height: 70vh; }

.contacts__messages {
  grid-column: message; }

.contacts__infos {
  grid-column: infos; }

.contacts__m-data {
  display: grid;
  grid-template-columns: [icon] auto [text] 1fr;
  grid-template-rows: [location] 1fr [telephone] 1fr [email] 1fr; }

.contacts__m-i {
  color: #0078ff;
  padding-right: 15px; }

.contacts__m-text, .contacts__m-i {
  padding-bottom: 10px;
  padding-top: 10px; }

.contacts__m-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  margin-top: 20px; }

.contacts__m-s-wrap:hover .contacts__m-circle {
  background-color: #0078ff;
  border-color: #ddd6d5;
  transition: all 500ms ease; }

.contacts__m-s-wrap:hover .contacts__m-icon {
  color: #ffffff;
  transition: all 500ms ease; }

.contacts__m-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #0078ff;
  background-color: transparent; }

.contacts__m-icon {
  font-size: 1rem;
  color: #1e1e1e;
  position: relative;
  bottom: -4px;
  left: 7px; }

.contacts__m-icon--f {
  margin-left: 3px; }

.contacts__m-icon--p {
  margin-left: 2px; }
