@import "constants";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

section {
  min-height: 100vh;
}

//NAV
nav {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.nav--trans {
  background-color: transparent;
  color: white;
  height: 6rem;
  transition: all .5s ease-in-out;

  a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 2px solid white;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 1rem;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start;
  }
}

.nav--col {
  background-color: white;
  color: black;
  height: 4rem;
  transition: all .5s ease-in-out;

  a {
    text-decoration: none;
    color: $blue;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 2px solid $blue;
      transition: all 0.2s ease-in-out;
    }
  }

  h4 {
    color: $blue;
  }

  .nav__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding-top: 0;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: start;
  }
}

.nav__left {
  color: white;
}

.nav__right {

  ul {
    align-self: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 2px;
  }

  li {
    display: inline-block;
  }
}

//HERO
.hero {
  background-attachment: fixed;
  background-image: url(assets/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.hero__wrap {
  padding-top: 30vh;
  color: $white;
  text-align: center;
}

.hero__main {
  font-size: $font-big;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

.hero__sub {
  font-size: $font-sub;
  margin: 0;
  padding: 0;
}

//ABOUT
.about {
  background-color: $light;
  padding-top: 10vh;
}

.about__card {
  background-color: $white;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.about__left {
  display: grid;
  grid-template-rows: auto auto;
  padding: 35px;
}

.about__left--up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

.about__photo {
  height: 10rem;
  width: 10rem;
  background-image: url("assets/head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  grid-column: 1;
}

.about__description {
  p {
    font-size: 1 rem;
    margin: 0 0 1rem 0;
  }
}


.about__right {
  padding: 35px;
  h2 {
    display: inline-block;
    margin: 0 0 10px 0;
    border-bottom: 3px solid $blue;
  }
  .about__desc {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.about__left--down {
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .7rem;
  }
  progress[value]::-webkit-progress-bar {
    background-color: $light-blue;
    border-radius: 2px;
  }
  progress[value]::-webkit-progress-value {
    background-color: $blue;
    border-radius: 2px;
  }
  p {
    margin: 14px 0 10px 0;
  }
  .skills-wrap {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}


//services

.services__title {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.services__subtitle {
  text-align: center;
}
